# PostgreSQL config EXAMPLE
POSTGRES_USER=prod_user
POSTGRES_PASSWORD=super_secure_prod_password
POSTGRES_DB=biggmaze_db

# Do not expose PostgreSQL to host machine in prod
DB_DEBUG_PORT=

# SQLAlchemy connection string (container-only access)
DATABASE_URL=postgresql+psycopg2://prod_user:super_secure_prod_password@db:5432/biggmaze_db

# API Key so that unauthorized users can't send/recieve requests
API_KEY=supersecretapikey123
ALLOW_API_KEY=false # Disable API key in prod

OAUTH_USERNAME=admin
OAUTH_PASSWORD=changeme
SECRET_KEY=superstrongsecretkey
ACCESS_TOKEN_EXPIRE_MINUTES=30